$margin-top: 20px;
$column-width: 35%;
$padding-right: 20px;

.product-details-container {
    display: flex;
    align-items: left; 
    justify-content: left; 
    margin-top: $margin-top;
}

.left-column {
    width: 30%;
    float: left;
    padding-right: $padding-right;
    margin-left: 0;
}

.right-column {
    width: $column-width;
    float: left;
    padding-right: $padding-right;
}

.right-column2 {
    width: $column-width;
    float: left;
    padding-right: $padding-right;
}
